/* css styles for laptops */

body, html{
  font: 15px/1.5 Arial, Helvectica, sans-serif;
  padding-top: 0; 
  margin: 0;
  background-color: #feebe9;
  overflow-x: hidden;
}

#navbar {
  background-color: #35424a;
  position: fixed;
  width: 100%;
  color: #ffffff;
  border-bottom: #e8491d 3px solid;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 1;
}
#navbar #logo{
  display: inline;
  padding-left: 15px;
  float: left;
  font-family: 'Langar', cursive;
  color: #e8491d;
  font-size: 25px;
}
.navlinks-container{
  float: right;
}
#navbar .navbar-links {
  float: left;
  font-size: 25px;
  color: #f4f4f4;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
.dropdown{
  position:relative; 
  float: right;
  overflow: visible;
}
.dropdown .dropbtn {
  display: none;
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
#navbar .navbar-links:hover, .dropdown:hover .dropbtn{
  background-color: #e8491d;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #35424a;
  font-size: 18px;
  padding: 0px;
  margin: 0;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content .dropdown-links {
  color: #f4f4f4;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  display: block; 
}
.dropdown-content .dropdown-links:hover {
  background-color: #ddd;
  color: #e8491d;
}
.dropdown:hover .dropdown-content {
  display: block;
} 
.slideshow,
.slideshow:after { 
  position: relative;
  width: 100%;
  min-height: 600px;
  top: 0px;
  left: 0px;
  z-index: 0;
 }
.slideshow:after { 
  content: '';
  background: url("portfolio_images/working_woman1.png") no-repeat top left;
  background-size: cover;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  image-rendering: -webkit-optimize-contrast;
}
.slideshow li{
  list-style-type: none;
}
.slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; 
}
.slideshow li div { 
  z-index: 1000;
  position: absolute;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s; 
  display: block;
  align-items: center; 
  justify-content: center;
  width: 90%;
  height: 100%;
  top: 135px;
}
.slideshow li div h1, h3 { 
  font-family: 'JetBrains Mono', monospace;
  color:#e8491d;
  font-size: 30px;
  line-height: 0.5rem;
  background: transparent;
  text-align: center;
}
.slideshow li div h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: bolder;
  background:transparent;
  line-height: 0.8rem;
  text-align: center;
}
.slideshow li div p {
  font-size: 20px;
  background: transparent;
}
.slideshow li div .button{
  background-color: #e8491d;
  border: 3px solid #fa9107;
  height: 3rem;
  width: 20rem;
  font-size: 33px;
  font-family: "Monospace";
  font-weight: normal;
  letter-spacing: 2px;
  top: 35px;
  margin-left: 38%;
  position: relative;
}
.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
  display: inline;
  top: 35rem;
  margin-left: 43%;
  position: relative;
}
.slider .slider-dots {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: #f4f4f4;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slideshow li:nth-child(1) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman1.png");
}
.slideshow li:nth-child(2) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman2.png");
  animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman3.png");
  animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman4.png");
  animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman5.png");
  animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman6.png");
  animation-delay: 30s; 
}

.slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 3; animation-timing-function: ease-out; }
  17% { opacity: 3 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
#skills h2, #projects h2{
  text-align: center;
  font-size: 30px;
  color: #35424a;
  margin-top: 50px;
} 
.skill_image{
  width: 80px;
  height: 80px;
  border-radius: 150%;
}
.container1{
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-width: 100%;
  height: 430px;
  margin-left: 3px;
}
.container1 p{
  padding: 25px;
}
.content1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px;
  padding-top: 45px;
}
.container2{
  margin-left: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.project_image{
  width: 150px;
  height: 150px;
  box-shadow: 16px 16px  #3d054f;
}
.container2 a{
  text-decoration: none;
  color:#e8491d;
  font-size: 18px;
}
.container2 p:hover {
  background-color: #3d054f;
  width: 8rem;
  color: #ead2f1;
}
#contact{
  background-color: #ead2f1;
}
#contact h2{
  text-align: center;
  font-size: 20px;
  color: #35424a;
  padding-top: 30px;
  line-height: 1rem;
}
address a{
  display: flex;
  justify-content: space-around;
  line-height: 1rem;
  color: #3d054f;
  font-size: 18px;
  text-decoration: none;
}
address a:hover {
  background-color: transparent;
}
/* media queries for mobile small */
@media(max-width: 320px){
  #navbar .navbar-links {
    display: none;
  }
  .dropdown .dropbtn {
    display: block;
    font-size: 22px;
    padding: 18px;
    margin-top: 10px;
    padding-right: 5px;
  }
  .slideshow li div h3{
    font-size: 25px;
  }
  .slideshow li .texts p{
  text-align: center;
  padding-right: 12%;
  }
  .slideshow li .texts .button{
    margin-left: 8%;
    top: 25px;
    width: 13rem;
  }
  #projects .container2{
    grid-template: none;
  }
  .container2 a{
    font-size: 25px;
  }
  #contact{
   margin-top: 120px;
  } 
}
/* media queries for mobile medium */
@media(max-width: 375px) {
  .dropdown .dropbtn {
    padding: 18px;
    margin-top: 12px;
    padding-right: 5px;
  }
  .slideshow li div h1, h3{
    line-height: 2.5rem;
    font-size: 20px;
  }
  .slideshow li .texts p{
    padding-right: 15%;
    font-size: 20px;
  }
  .slideshow li .texts .button{
    margin-left: 18%;
    top: 0px;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    font-size: 25px;
  }
  #projects .container2{
    grid-template: none;
  }
}

/* media queries for mobile large */
@media(max-width: 425px) {
  .dropdown .dropbtn {
    padding: 18px;
    margin-top: 9px;
    padding-right: 5px;
  }
  .slideshow li div h1, h3{
    line-height: 2.5rem;
    font-size: 25px;
  }
  .slideshow li .texts p{
    padding-right: 8%;
    font-size: 20px;
  }
  .slideshow li .texts .button{
    margin-left: 26%;
    top: 5px;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    font-size: 25px;
  }
  #projects .container2{
    grid-template: none;
    padding-left: 45px;
  }
} 

/* media queries for tablets small */
 @media(max-width: 600px){
  #navbar .navbar-links {
    display: none;
  }
  .dropdown .dropbtn {
    display: block;
  }
  .slideshow li div{
    width: 100%;
    top: 100px;
    height: 100%;
  }
   .slideshow li div h2{
      font-size: 30px;
   }
  .slideshow li div .button{
    margin-left: 13%;
    top: 20px;
    width: 15rem;
  }
  .slider {
    display: none;
  }

  #skills h2{
    width: 60%;
    margin-left: 19%;
  }
  .container1{
    display: block;
    height: 100%;
  }
  #projects h2{
    width: 100%;
    text-align: center;
  }
  .container2{
    display: block;
    margin-left: 8rem;
    margin-top: 55px;
  }
  .project_image{
    width: 250px;
    height: 250px;
    margin-top: 35px;
  }
  .container2{
    letter-spacing: 2px;
  }
  .container2 p:hover{
    width: 75%;
  }
  #contact{
    margin-top: 100px;
    height: 70vh;
  }
} 
 /* media queries for tablets */
@media(max-width: 961px){
  #navbar .navbar-links {
    display: none;
  }
  .dropdown .dropbtn {
    display: block;
    margin-right: 25px;
  }
  .slideshow li div{
    width: 80%;
  }
  .slideshow li div .button{
    margin-left: 25%;
    top: 23px;
  }
  .slider {
    top: 35rem;
    margin-left: 35%;
  }
  .content1{
    height: 85%;
  }
  .container2{
    margin-top: 4rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    letter-spacing: 2px;
  }
  #projects h2{
    margin-top: 100px;
  }
  #contact{
    margin-top: 100px;
    height: 65vh;
  }
}