body{
  font: 15px/1.5 Arial, Helvectica, sans-serif;
  padding-top: 0; 
  margin: 0;
  background-color: #feebe9;
}
#header{
  position: fixed;
  width: 100%;
  background-color: #35424a;
  color: #ffffff;
   border-bottom: #e8491d 3px solid;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  top: 0;
}
#header ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
#header li{
  display: inline;
  float: left;
  display: flex; 
  justify-content: center;
  min-width: 40px;
}
#header a{
  color: #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 2rem;
} 
#header a:hover{
  background-color: #e8491d;
}
#icon{
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 15px;
  display: none;
  background-color: #e8491d;
}
#logo{
  display: inline;
  padding-left: 40px;
  float: left;
  font-family: 'Langar', cursive;
  color: #e8491d;
  font-size: 30px;
}
/* #home, #skills, #projects, #contact{
  top: 20%;
} */
.cb-slideshow,
.cb-slideshow:after { 
  position: relative;
  width: 100%;
  min-height: 600px;
  top: 0px;
  left: 0px;
  z-index: 0;
 }
.cb-slideshow:after { 
  content: '';
  background: url("portfolio_images/working_woman1.png") no-repeat top left; 
}
.cb-slideshow li{
  list-style-type: none;
}
.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
  z-index: 1000;
  position: absolute;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s; 
  display: block;
  align-items: center; 
  justify-content: center;
  width: 90%;
  height: 100%;
  top: 135px;
}
.cb-slideshow li div h1, h3 { 
  font-family: 'JetBrains Mono', monospace;
  color:#e8491d;
  font-size: 30px;
  line-height: 0.5rem;
  background: transparent;
}
.cb-slideshow li div h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: bolder;
  background:transparent;
  line-height: 0.8rem;
}
.cb-slideshow li div p {
  font-size: 20px;
  background: transparent;
}
.cb-slideshow li div .button{
  background-color: #e8491d;
  border: 3px solid #fa9107;
  height: 3rem;
  width: 20rem;
  font-size: 33px;
  font-family: "Monospace";
  font-weight: normal;
  letter-spacing: 2px;
  top: 35px;
  margin-left: 35%;
  position: relative;
}
.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
  display: inline;
  top: 35rem;
  margin-left: 40%;
  position: relative;
}
.slider .slider-dots {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: #f4f4f4;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.cb-slideshow li:nth-child(1) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman1.png");
}
.cb-slideshow li:nth-child(2) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman2.png");
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman3.png");
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman4.png");
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman5.png");
  animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("portfolio_images/working_woman6.png");
  animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 3; animation-timing-function: ease-out; }
  17% { opacity: 3 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
#skills h2, #projects h2{
  text-align: center;
  font-size: 30px;
  color: #35424a;
  margin-top: 50px;
} 
.skill_image{
  width: 80px;
  height: 80px;
  border-radius: 150%;
}
.container1{
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-width: 100%;
  height: 430px;
  margin-left: 3px;
}
.container1 p{
  padding: 25px;
}
.content1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px;
  padding-top: 45px;
}
.container2{
  margin-left: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.project_image{
  width: 150px;
  height: 150px;
  box-shadow: 16px 16px  #3d054f;
}
.container2 a{
  text-decoration: none;
  color:#e8491d;
  font-size: 18px;
}
.container2 p:hover {
  background-color: #3d054f;
  width: 8rem;
  color: #ead2f1;
}
#contact{
  background-color: #ead2f1;
}
#contact h2{
  text-align: center;
  font-size: 20px;
  color: #35424a;
  padding-top: 30px;
  line-height: 1rem;
}
address a{
  display: flex;
  justify-content: space-around;
  line-height: 1rem;
  color: #3d054f;
  font-size: 18px;
  text-decoration: none;
}
address a:hover {
  background-color: transparent;
}
@media(max-width: 600px){
  #header ul{
    display: none;
  }
  #icon{
    display: block;
  }
  .cb-slideshow li div{
    width: 80%;
  }
  .cb-slideshow li div .button{
    margin-left: 13%;
    top: 20px;
  }
  .slider {
    top: 35.5rem;
    margin-left: 33%;
  }
  #skills h2{
    width: 60%;
    margin-left: 19%;
  }
  .container1{
    display: block;
    height: 100%;
  }
  #projects h2{
    width: 100%;
    text-align: center;
  }
  .container2{
    display: block;
    margin-left: 8rem;
    margin-top: 55px;
  }
  .project_image{
    width: 250px;
    height: 250px;
    margin-top: 35px;
  }
  .container2{
    letter-spacing: 2px;
  }
  .container2 p:hover{
    width: 75%;
  }
  #contact{
    margin-top: 100px;
    height: 70vh;
  }
}